@page
@model ServiceA.Pages.SecretModel
@{
}

<h6>Secret : @(ViewData["secretValue"] ?? "No Data")</h6>
<h6>Secret file : @(ViewData["secretValue1"] ?? "No Data")</h6>
<h6>Secret from config : @(ViewData["secretValue2"] ?? "No Data")</h6>
<h6>Secret file from config : @(ViewData["secretValue3"] ?? "No Data")</h6>
